html {
    height: 100%;
    overflow: hidden;
  }

  #about {
    margin-bottom: 3em;
  }


#bluespring {
    height: 20em;
    margin: auto;
    max-width: 100%;
  }

  a:link {
    color: black;
  }

  a:visited {
    color: purple;
  } 


  body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    /* The image used */
    background-image: url("bg.svg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
 
  }
  
  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    margin: 1em;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: 800;
    font-display: swap;
  }

  h2{
    margin: auto;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 2em;
    margin: 1em;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-display: swap;
  }

  .codespan {
    font-family:'Courier New', Courier, monospace;
  }
  input {
    height: 1.5em;
    width: 70%;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .75em;
  }

  .thingy {
    margin: 3em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: lightcyan;
  }

  #physicsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    gap: 10px;
    margin: auto; /* Center the form horizontally */
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 3em;
    background-color: white;
    text-align: center;
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;

  }

  body .gist .gist-file {
    margin: auto;
    margin-top: 4em;
    width: 80vw;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  body .gist .gist-data {
    border-bottom: none;
    border-radius: 10px;
    background-color: white;
  }
  
  body .gist .blob-wrapper {
    border-radius: 10px;

  }
  body .gist tr:first-child td {
    padding-top: 15px !important;
  }
  
  body .gist tr:last-child td {
    padding-bottom: 15px !important;
  }
  body .gist .highlight {
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
  }

  body .gist .blob-code-inner {
    font-size: .7em;
    line-height: 1.5em;
  }

  body .gist .blob-num {
    color: white;
    background-color: purple;
    pointer-events: none;
    font-weight: 100;
  }
  /* //removes gh stuff */
  body .gist .gist-meta {
    display: none;
  }

  p {
    max-width: 60ch;
    margin: auto;
    line-height: 1.5;
    width: 60vw;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 2em;
    background-color: white;
    text-align: center;
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-display: swap;
  }

  .p {
    margin: auto;
    line-height: 1.5;
    width: 60vw;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 2em;
    background-color: white;
    text-align: center;
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-display: swap;
  }

  button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .75em;
    background-color: lightcyan;
    border-radius: 5px;
    padding: .5em;
    margin: 1em;
  }

  #headshot {
    border-radius: 50%;
    margin: auto;
    margin-left: 6em;
    width: 50%;
  }

  .spacer {
    margin-top: 3em;
  }

  /* all desktop styles */
@media (min-width: 1100px) {

  body .gist .highlight {
    font-size: 2em;
  }

#bluespring {
  margin: auto;
  width: 100%;
}

  .btn-container {
    display: flex;
  }

#headshot {
 margin-left: 40vw;
 width: 20%;
 border: 2px solid black;

}

.thingy {
  margin: auto;
  margin-bottom: 8em;
  margin-top: 4em;
}



.spacer {
  margin-top: 1em;
}


}