html {
    height: 100%;
    overflow: hidden;
  }

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;

    /* The image used */
    background-image: url("gradient-bg.svg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .vh {
    margin: auto;
    height: 30vh;
    width: 60vw;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 15em;
    background-color: white;
    text-align: center;
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
  }